// 1-main components
@use "./components/1-main/mixin.scss" as *;
@use "./components/1-main/nulifier.scss" as *;
// 2-layout components
@use "./components/2-layout/components.scss" as *;

// fonts

 
@font-face {
  font-family: "GT Flexa";
  src: url("./fonts/GTFlexa-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("./fonts/GTAmerica-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



// CSS Variables in :root (not .layout)
:root {
  --primary: #e5e0d8;
  --main: #222222;
  --black: #000;
  --white: #fff;
  --gray: #848484;
  --light-gray: #eee9e1;
  --main-font: "GT America", sans-serif;
  --flexa-font: "GT Flexa", sans-serif;
}
